<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script src="./template.js"></script>
    <script type="text/template" id="tpl">
        <h3><%=name%></h3>
        <p><%=age%></p>
        <ul>
            <% for(var i=0;i<arr.length;i++){  %>
                <li><%=arr[i]%></li>
            <% } %>
        </ul>
    </script>
    <script>
        //两种语法
        // <%=%> --> 输入
        // <%%>在里面写if..else,for,while逻辑语句
        var data = {
            name:"小明",
            age:20,
            arr:[2,3,4]
        };
        var html = template('tpl',data);
        console.log(html);
    </script>
</body>
</html>



